div#navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 15vw;
  color: white;
  background-color: rgb(0, 0, 0);
}
a {
  color: white;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid red;
  padding: 5px 10px;
}
table a,
h1 + a {
  color: red;
}
